{% extends "layout.html" %}
{% block content %}
<div class="pretty-container">
    <h1>Mjini Magharibi</h1>
    <p>Description of Mjini Magharibi region.</p>
    <img src="{{ url_for('static', filename='images/mjini_magharibi.jpg') }}" alt="Mjini Magharibi">
    <h2>Districts</h2>
    <div>
        <h1><a href="{{ url_for('main.district', region_name='mjini_magharibi', district_name='magharibi') }}" class="button">Magharibi</a></h1>
        <h1><a href="{{ url_for('main.district', region_name='mjini_magharibi', district_name='mjini') }}" class="button">Mjini</a></h1>
    </div>
</div>
{% endblock %}
