{% extends "layout.html" %}
{% block content %}
<div class="pretty-container">
    <h1>Pemba North</h1>
    <p>Description of Pemba North region.</p>
    <img src="{{ url_for('static', filename='images/pemba_north.jpg') }}" alt="Pemba North">
    <h2>Districts</h2>
    <div>
        <h1><a href="{{ url_for('main.district', region_name='pemba_north', district_name='micheweni') }}" class="button">Micheweni</a></h1>
        <h1><a href="{{ url_for('main.district', region_name='pemba_north', district_name='wete') }}" class="button">Wete</a></h1>
    </div>
</div>
{% endblock %}
