{% extends "layout.html" %}
{% block content %}
<div class="pretty-container">
    <h1>Pemba South</h1>
    <p>Description of Pemba South region.</p>
    <img src="{{ url_for('static', filename='images/pemba_south.jpg') }}" alt="Pemba South">
    <h2>Districts</h2>
    <div>
        <h1><a href="{{ url_for('main.district', region_name='pemba_south', district_name='chake_chake') }}" class="button">Chake Chake</a></h1>
        <h1><a href="{{ url_for('main.district', region_name='pemba_south', district_name='mkoani') }}" class="button">Mkoani</a></h1>
    </div>
</div>
{% endblock %}
