{% extends "layout.html" %}
{% block content %}
<div class="pretty-container">
    <h1>Zanzibar North</h1>
    <p>Description of Zanzibar North region.</p>
    <img src="{{ url_for('static', filename='images/zanzibar_north.jpg') }}" alt="Zanzibar North">
    <h2>Districts</h2>
    <div>
        <h1><a href="{{ url_for('main.district', region_name='zanzibar_north', district_name='kizimbani') }}" class="button">Kizimbani</a></h1>
        <h1><a href="{{ url_for('main.district', region_name='zanzibar_north', district_name='kusini') }}" class="button">Kusini</a></h1>
    </div>
</div>
{% endblock %}
