{% extends "layout.html" %}
{% block content %}
<div class="pretty-container">
    <h1>Welcome to iMyLyfe</h1>
    <p>iMyLyfe is your comprehensive guide to exploring and understanding the diverse regions of Tanzania. Our mission is to provide detailed information about each region, including economic opportunities, cost of living, weather conditions, and more. Whether you are planning to move, invest, or simply learn about different areas, iMyLyfe offers valuable insights to help you make informed decisions. .</p>
    <a href="{{ url_for('main.get_started') }}" class="button">Get Started</a>
</div>
{% endblock %}
